
a.site-logo {
  float: left;
  margin-right: 14px;
}

h1.site-name {
  padding-top: 14px;
}

#main {
  background-image: url('../images/down_shadow.png');
  background-repeat: repeat-x;
  background-position: bottom;
}

#header {
    background-color: #48A9E4;
    background-image: url('../images/bg_header.png');
    background-repeat: repeat-x;
/*    background-image: -moz-linear-gradient(-90deg, #0779BF, #48A9E4);*/
}